.backBtn {
  width: 80px;
  padding: 3px 5px;
  border-radius: 3px;
  color: #cddbc8;
  background-color: #40394a;
}

.backBtn:hover,
.backBtn:active {
  color: var(--accent-color);
  background-color: #1c1427;
}

.movieDetailsSearch {
  margin: 30px auto;
  text-align: center;
}

.btnDetails {
  font-size: 16px;
  text-decoration: none;
  color: var(---dark-light);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0 50px;
  font-weight: bold;
}

.btnDetails.active {
  color: var(--dark);
  text-shadow: -1px 3px 10px var(--accent-color);
}
