:root {
  --accent-color: #7eca9c;
  --accent-color-light: #cddbc8;
  --dark: #1c1427;
  --dark-light: #40394a;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--accent-color-light);
}

.movieDetailsSearch {
  margin: 30px auto;
  text-align: center;
}

.btnDetails {
  font-size: 16px;
  text-decoration: none;
  color: var(---dark-light);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0 50px;
  font-weight: bold;
}

.btnDetails.active {
  color: var(--dark);
  text-shadow: -1px 3px 10px var(--accent-color);
}
